<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0" >
                    Providing everything a pet owner needs to be able to look after their pet        </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>News</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li>PET SHOP voted Employer of the Year in Retail Bulletin's 'People in Retail' awards.</li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Any queries?</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p>If you have any queries please feel free to contact our friendly team!</p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>Contact us</li>
                    <li><i class="fa fa-envelope mr-2"></i> info@petshop.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 98 74 55 22</li>
                </ul>
            </div>
        </div>
    </div>
</footer>