<div class="container" style=" margin: auto; width: 60%; padding: 10px;">
  <div div="row">
    <div class="col">
      <img src="https://stories.freepiklabs.com/storage/42255/403-error-forbidden-pana-2857.png" alt="">
      <hr>
    </div>
    <div class="col">
      <p >The page you are trying to access has restricted access.<br/>Please go back to the previous page to continue browsing.</p>
      <a  class="btn btn-success" href="javascript:history.back()">Return to the previous page</a>
    </div>
  </div>
</div>
